In [1]:
import pandas as pd
df = pd.read_csv('data.csv')
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0  101.819053         0   48          1          -1              1
1   99.654751         0    2          0           0              0
2   99.154920         1   56          0           0              0
3  101.410072         1   97          1           0              0
4  100.011895         0   51          1           1              0

In [2]:
df.tail()

          fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2570  98.373293         0   63          1           1              1
2571  98.961099         1   73          1          -1              0
2572  99.815046         1   29          1           1              0
2573  99.803911         0   38          0           1              0
2574  99.823134         0   78          0           1              0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2575 entries, 0 to 2574
Data columns (total 6 columns):
fever            2575 non-null float64
bodyPain         2575 non-null int64
age              2575 non-null int64
runnyNose        2575 non-null int64
diffBreath       2575 non-null int64
infectionProb    2575 non-null int64
dtypes: float64(1), int64(5)
memory usage: 120.8 KB

In [4]:
df['bodyPain'].value_counts()

1    1346
0    1229
Name: bodyPain, dtype: int64

In [5]:
df.describe()

,fever,bodyPain,age,runnyNose,diffBreath,infectionProb
count,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000,2575.000000
mean,100.012065,0.522718,51.488932,0.509903,-0.034563,0.477282
std,1.155090,0.499581,28.618702,0.499999,0.812663,0.499581
min,98.000319,0.000000,1.000000,0.000000,-1.000000,0.000000
25%,99.004109,0.000000,27.000000,0.000000,-1.000000,0.000000
50%,99.993921,1.000000,52.000000,1.000000,0.000000,0.000000
75%,101.030847,1.000000,76.000000,1.000000,1.000000,1.000000
max,101.998222,1.000000,100.000000,1.000000,1.000000,1.000000

## Train Test Splitting

In [6]:
import numpy as np

In [7]:
def data_split(data, ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_size = int(len(data) * ratio)
    test_indices = shuffled[:test_set_size]
    train_indices = shuffled[test_set_size:]
    return data.iloc[train_indices], data.iloc[test_indices]

In [8]:
train, test = data_split(df,0.2)

In [9]:
train

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1703  100.933676         1    4          1          -1              0
1675  100.600659         1   22          0           1              0
1518   98.110752         0   37          1           0              0
361   101.805839         1   29          1           1              1
1544   98.755402         1   92          1           0              1
...          ...       ...  ...        ...         ...            ...
1638   98.200561         0    8          1          -1              1
1095   98.259612         0   53          1           1              0
1130   98.120587         0   67          1          -1              0
1294  101.035327         0    4          1           0              0
860   100.447809         1    9          0           1              0

[2060 rows x 6 columns]

In [10]:
test

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1644  100.859437         0   62          1          -1              1
1189   98.447730         0    9          0           1              1
495    99.094380         1   13          0           1              1
1656  100.282638         1   34          1           1              0
651    99.541858         1    3          0           1              0
...          ...       ...  ...        ...         ...            ...
1627   98.894868         1   99          1           1              0
471    99.635015         1   79          0           0              0
700   100.240608         0    1          1           0              1
25     98.504642         1   51          1           0              0
755   100.126724         0   23          0           1              1

[515 rows x 6 columns]

In [11]:
X_train = train[['fever', 'bodyPain', 'age', 'runnyNose','diffBreath']].to_numpy()
X_test = test[['fever', 'bodyPain', 'age', 'runnyNose','diffBreath']].to_numpy()

In [12]:
Y_train = train[['infectionProb']].to_numpy().reshape(2060,)
Y_test = test[['infectionProb']].to_numpy().reshape(515,)

In [13]:
Y_train

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [14]:
from sklearn.linear_model import LogisticRegression

In [15]:
clf = LogisticRegression()
clf.fit(X_train, Y_train)

C:\Users\Hp 6470b\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [35]:
inputFeatures = [104,1,100,1,1]
infProb = clf.predict_proba([inputFeatures])[0][1]

In [36]:
infProb

0.4615587126288555